body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: sans-serif;
}
#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#canvas {
    position: absolute;
    transform-origin: 0 0;
    /* background: black; */

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

#layers-ui {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    background: rgba(60, 60, 60, 0.9);
    color: #ccc;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#status-ui {
    font-family: "Courier New", monospace;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.9);
    color: #ddd;
    z-index: 1;
}

.layer-group {
    border: 1px solid #ccc;
    padding: 0 0.5rem;
}

.row {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.radio-group {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}

.slider-group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 0.5rem 0;
}

.color-group {
    margin-left: auto;
    display: flex;
    gap: 0.25rem;
    align-items: center;
}
.color-preset {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 1rem;
    height: 1rem;
}
.color-picker {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.icon-button {
    color: #ccc;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
}

.icon-button svg {
    width: 100%;
    height: 100%;
}

.add-layer-container {
    background: rgba(60, 60, 60, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.15rem 0.3rem;
    transform: translateY(100%);
}

.hide-button {
    /* background: rgba(60, 60, 60, 0.9); */
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 0.4rem;
    /* transform: translateX(100%); */
    /* border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer; */
}


.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3;
    -webkit-box-orient: vertical;
 }